---
layout: default
---

<div class="landing">
  <div class="categories">
    {% assign cat_details = "Ideas and opinions I believe I should remember from the books I've read and some movies I've watched.,Concepts from computer vision that I have recently studied in detail serving as personal notes.,Lessons I have learnt about certain topic that I keep visiting back to." | split: "," %}
    {% for category in site.categories %}
      <div class="category" onclick="showPosts('{{ forloop.index0 }}')">
        <div class="face face1"> 
          <h2>{{ category[0] }}</h3>
        </div>
        <div class="face face2">
          <p>{{ cat_details[forloop.index0] }}</p>
        </div>        
      </div>
    {% endfor %}
  </div>
  <!-- <div id="landing-hello">HELLO</div> -->
  <div id="posts-1">
    <div class="post-cards">
      {% assign cat = "Ideas From" %}
      {% for post in site.categories[cat] %}
        <div class="post-card">
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <div><p> {{ post.excerpt }} </p></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="posts-2"> 
    <div class="post-cards">
      {% assign cat = "Computer Vision" %}
      {% for post in site.categories[cat] %}
        <div class="post-card">
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <div><p> {{ post.excerpt }} </p></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="posts-3"> 
    <div class="post-cards">
      {% assign cat = "Lessons" %}
      {% for post in site.categories[cat] %}
        <div class="post-card">
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <div><p> {{ post.excerpt }} </p></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>
</div>

<script>
  function getStyle(element, name){
    return element.currentStyle ? element.currentStyle[name] : window.getComputedStyle ? window.getComputedStyle(element, null).getPropertyValue(name) : null;
  }

  function showPosts(category_index) {
    const divs = [document.getElementById("posts-1"), document.getElementById("posts-2"), document.getElementById("posts-3")]
    // document.getElementById("landing-hello").style.display = "none";
    if (getStyle(divs[category_index], "display") === "none"){
      window.scrollTo(0,document.body.scrollHeight);
      divs[category_index].style.display = "block";
      for (let i =0;i<3;i++)
        if(i!=category_index)
          divs[i].style.display = "none"; 
    }
    else{
      divs[category_index].style.display = "none";
      // document.getElementById("landing-hello").style.display = "block";
    }
  }
</script>